table {
    border-collapse: collapse;
    width: 100%;
  }

th, td {
    text-align: left;
    margin-top: 5px;
    padding: 10px;
  }


#subtotal {
    width: 320%;
  }

tr:nth-child(even) {
  background-color: #f4f6fb;
}

.kulay {
  color: #283592;
}

.kulay1 {
  color: gray;
}

.total {
  color: #E01b91;
  font-weight: bold;
  font-size: 40px;
  
}