<div>
    <table>
      <tr class="kulay">
        <th>Description</th>
        <th>Qty</th>
        <th>Unit price</th>
        <th>Total price</th>
      </tr>
      <tr *ngFor="let invoice of invoices">
        <td  id="item">{{invoice.description}}</td>
        <td class="kulay1">{{invoice.quantity}}</td>
        <td class="kulay1">P {{invoice.unitPrice}}.00</td>
        <td class="kulay1">P {{invoice.totalPrice}}.00</td>
      </tr>
    </table>
   <hr>
   <table id="subtotal">
    <tr>
     <td>Notes: </td>  
     <td id="sub" class="total"> <span id="total">₱ {{totalPrice}}.00</span> </td> 
     </tr>
   </table>
  </div>