<div class="invoice-table"> 
    <table>
        <tr>
          <td rowspan="2">
          <span>Invoice for</span><br>
            Kang Seulgi<br>
            Jcblitz<br>
            3F, Festival Mall<br>
            Muntinlupa City, Philippines, 1780<br>
          </td>
            <td> 
                <span>Payable to</span><br>
                Kang Seulgi
            </td>
            <td>
                <span>Invoice #</span><br>
                111
            </td>
        </tr> 
        <tr>
            <td>
                <span>Project</span><br> 
                Peripherals
            </td>
            <td>
                <span>Due Date</span> <br>
                3/01/2023
            </td>
        </tr>
      </table>
      <hr>
</div>